/* html {
    margin: auto;
    width: 70%;
    
  
} */

body {
    display: grid;
    margin: 0px;
    padding: 0;


}

.is-sticky {
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, .15);
}

.navigation {
    display: flex;
    padding: 0;
    margin: auto;
    position: fixed;
    top: 0;
    z-index: 3;
    background: hsla(0, 0%, 100%, .98);
    transition: box-shadow .25s ease 0s;

}

.nav-centred {
    display: flex;
    margin: auto;
    width: 70%;
}

.docplanner-logo {
    width: 70%;
    display: block;
    margin: 10px 0 0 10px;
    /* margin-block-start: 2%;
    margin-block-end: 2%;
    margin-inline-start: 2%;
    margin-inline-end: 2%; */
}

.docplanner-logo img {
    width: 35%;
}

.nav-links {
    width: 30%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.about-link {
    text-decoration: none;
    color: rgb(0, 197, 155);
    margin: 18px;
}

.nav-link {
    text-decoration: none;
    color: rgb(115, 115, 115);
    margin: 18px;
}

.nav-link:hover {
    text-decoration: none;
    color: rgb(0, 197, 155);
    margin: 18px;
}

main {
    display: block;
    padding-top: 80px;
}

#about {
    width: 70%;
    margin: auto;
}

.center {
    flex-direction: column;
    text-align: center;
}

.text-main {
    color: #00b39b;
    font-size: 2.125rem;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
}

.flex {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.flex p {
    margin: .8em 0;
    line-height: 2.75;
    font-weight: 400;
    color: #747474;
}

.col-2 {
    width: 50%;
    margin: 20px;
}



#services {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
}

.grid-services {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    justify-items: center;
    color: white;
    gap: 10px;

}

.patients,
.doctors,
.clinics {
    border-radius: 10px;
    padding: 30px;
    height: 260px;
    display: grid;
}

.service-footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

#select-patients,
#select-clinics,
#select-doctors {
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
    text-decoration: underline;
    font-size: large;
}

.patients {
    background-color: #19D1B9;
}

.doctors {
    background-color: #3D83DF;
}

.clinics {
    background-color: #1B2734;
}



#company {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* grid-template-columns: 400px 1200px; */
}

#company h1 {
    width: 100%;
    margin: 0px;
    padding-right: 200px;
    color: #00b39b;
    font-size: 2.125rem;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
}

.grid-companies {
    margin-left: 30px;
    display: grid;
    grid-template-columns: 14rem 13rem 13rem 13rem;

}

.jameda {
    width: 100%;


    /**
    -webkit-filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
    opacity: .55;
    */
}

/* .tuotempo {
    width: 200px;

} */

#company a {

    text-decoration: none;
    color: #3d83df;
    outline: 0;
    transition: all .2s ease 0s;
}


.brands-logo {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    list-style: none;
    width: 67%;

}



ul {
    margin: 0;
    padding: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.brands-logo {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    list-style: none;
    width: 67%;
}

.brands-logo li {
    font-size: 1rem;
    display: inline-block;
    margin-top: 0;
    padding: 5px 0 5px 5px;
    width: 25%;
}

.brands-logo .clinicloud img,
.brands-logo .feegow img,
.brands-logo .gipo img,
.brands-logo .jameda img,
.brands-logo .mydr img,
.brands-logo .tuotempo img {

    transition: all .2s ease 0s;
    filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
    -webkit-filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
    opacity: .55;
}


.brands-logo .clinicloud:hover img,
.brands-logo .feegow:hover img,
.brands-logo .gipo:hover img,
.brands-logo .jameda:hover img,
.brands-logo .mydr:hover img,
.brands-logo .tuotempo:hover img {
    filter: none;
    opacity: 1;
}

.brands-logo a svg {

    height: 20px;
    width: auto;
    max-width: 100%;

}

svg:not(:root) {
    overflow: hidden;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.brands-logo a path {
    transition: all .2s ease 0s;
    fill: hsla(0, 0%, 67%, .7);
}

.brands-logo a path:hover {
    fill: #00b39b;
}

.brands-logo .jameda img {
    height: 20px;
}

.brands-logo .tuotempo img {
    height: 16px;
}


.brands-logo .clinicloud,
.brands-logo .gipo {
    width: 12.5%;
}

.brands-logo .clinicloud img {
    height: 30px;
}

/* .brands-logo .clinicloud img, */
.brands-logo .gipo img,
.brands-logo .mydr img {
    height: 34px;
}

.brands-logo .mydr img {
    width: 75%;
}



#stats {
    background: #DAF6F5;
    margin: 0;
}


#stats .container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 300px;
    height: 570px;
    padding-bottom: 30px; 
    padding-top: 30px;
    padding-right:60px
    /*    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;  */


}



.col1 {
    margin-left: 200px;
    margin-top: 2em;
    color: #747474;
}

.col1 h1 {
    font-size: 2.125rem;
    color: #00b39b;

}

.col1 p {
    max-width: 415px;
    font-size: .875em;
    font-weight: 400;
    line-height: 1.7142857143;
}

.col2 {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "a a a a b b b b"
        "a a a a b b b b"
        "c c c c d d d d"
        "c c c c d d d d";
}

.item1 {
    grid-area: a;
}

.item2 {
    grid-area: b;
    justify-self: start;
}

.item3 {
    grid-area: c;
    justify-self: end;
}

.item4 {
    grid-area: d;
    justify-self: center;
}

.item1,
.item2,
.item3,
.item4 {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .05);
    height: 230px;
    width: 250px;
    text-align: center;
    padding: 15px;
    font-size: .8125em;

}

.vert-align {
    display: table;
    width: 100%;
    height: 100%;
}

/* .vert-align>* {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    box-sizing: border-box;
} */


.vert-align h3 {
    font-size: 1.8461538462em;
    color: #00b39b;
    margin: .5em 0;
}

.vert-align p {
    font-size: 0.8461538462em;
    margin: .5em 0;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    color: #747474;
}

/* p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
} */





#offices {
    margin-top: 40px;
    width: 70%;
    margin: auto;
}

#offices h1,
p {
    display: flex;
    justify-content: center;
    align-items: center;
}

#offices h1 {
    color: #00b39b;
}

#offices p {
    width: 50%;
    margin: .8em auto;
    line-height: 1.75;
    font-weight: 400;
    color: #747474;
}


.flex-offices {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;

}


.flex-offices .box {
    margin: auto;
    margin-top: 30px;
    margin-right: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
    min-height: 350px;

}

/* .box img {

    object-fit: cover;
    /* Coupe l'image pour garder les proportions */
/* border-radius: 10px; 

} */

.box-links a {
    padding-left: 10px;
}

.box-buttons {
    display: flex;
    justify-content: space-between;
}

.box a {
    color: gray;
    text-decoration: none;
    border-radius: 200px;
}

.box button {
    background-color: #3D83DF;
    border-color: #3D83DF;
    color: white;
    margin-right: 10px;
}

.box button:hover {
    background-color: red;
    border-color: red;
}

.box:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.last-row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 1.375rem;
    gap: 1.375rem;

}

.last-row .box {

    margin-right: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
    min-height: 350px;

}

#join-us {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
}

#join-us h1 {
    font-size: 2.1428571429em;
    font-family: Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
}

#join-us button {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #3D83DF;
    border-color: #3D83DF;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.button-join {
    margin-top: 20px;
    margin: auto;
    display: flex;
    justify-content: center;

}



footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid #ccc;
    /* Ligne fine et grise */
    padding-top: 10px;
    /* Espace entre la ligne et le contenu */
}

footer p {

    font-size: 12px;
    color: #ababab
}

footer a {
    text-decoration: none;
    color: #3d83df;
}

footer a:hover {
    text-decoration: underline;
}

::selection {
    background: #00b39b;
    color: #fff;
    text-shadow: none;
}
